@use '../abstracts/variables' as variables;
@use '../abstracts/mixins' as mixins;

$key-frame-name: 'wiggle';

.toast {
  display: none;
  height: 3.75rem;
  width: 17rem;
  align-items: center;
  gap: 0.75rem;
  padding: 1rem;
  color: var(--white);
  background-color: var(--fail-500);
  position: absolute;
  right: 3rem;
  border-radius: 1rem;
  bottom: 1rem;
  animation: $key-frame-name 2s linear infinite;

  &__icon {
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--white);
  }
}
@include mixins.wiggleAnimation($key-frame-name);
