@use '../abstracts/color-palette' as palette;
:root {
  @each $key, $value in palette.$colors {
    --#{$key}: #{$value};
  }
  --white: #fff;
  --text-title: var(--black-500);
  --text-gray: #8999b9;
  --background-input: #f9fafb;
  --input-border-color: #e2edff;
  --basic-background: #f7f8fa;
  --hr-color: #e2edff;
}
