@use '../abstracts/font-files' as fontFiles;

@each $key, $value in fontFiles.$fonts {
  @font-face {
    font: {
      family: 'Peyda';
      weight: #{$key};
      style: normal;
    }
    src: url('/src/assets/fonts/#{$value}.ttf') format('truetype');
  }
}
* {
  font-family: 'Peyda';
}
