@use '../abstracts/mixins' as mixins;
@use '../abstracts/variables' as variables;

$active-button-color: #f9fafb;
$gradiant-second-color: #d0c9c1;
$key-frame-name: 'wiggle';

@include mixins.wiggleAnimation($key-frame-name);

.body-dashboard-page {
  background-color: var(--basic-background);
}

.dashboard-container {
  padding: 1rem 5rem 1rem 5rem;
  height: auto;
}
.main-dashboard {
  display: flex;
  gap: 1rem;
  height: 100%;
}

.side-menu {
  width: 18rem;
  padding: 1.5rem 0 12rem 0;
  background-color: var(--white);
  border-radius: 0.75rem;
  height: 100%;

  &__hr {
    background-color: var(--hr-color);
    margin: 1.25rem 0.7rem;
    border: none;
    height: 1px;
  }
  &__user-info {
    text-align: center;
    padding: 0 1.5rem;
    @include mixins.customFlex(column, $gap: 1.72rem);
  }
  &__user-name {
    color: var(--black-500);
    padding-top: 0.875rem;
    line-height: 1.75rem;

    @include mixins.fontStyle(1.25rem, 700);
  }
  &__national-code {
    @include mixins.customFlex($justifyContent: space-between);
  }
  &__national-code-label {
    color: var(--text-gray);

    @include mixins.fontStyle(0.75rem);
  }
  &__national-code-value {
    color: var(--black-500);

    @include mixins.fontStyle(0.875rem, 600);
  }
}
.dashboard-content {
  @include mixins.customFlex(column, center, stretch);
  width: 100%;
  color: var(--text-title);
  position: relative;
  &__content {
    @include mixins.customFlex(column, flex-start, stretch, 1.5rem);
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  &__account-information-preview {
    height: 16.25rem;
  }
  &__transaction {
    height: auto;
    padding: 1.5rem;
    background: var(--white);
    border-radius: 0.75rem;
    box-shadow: 0 0 4px rgba(0, 67, 101, 0.05);
  }
}
.transaction {
  @include mixins.customFlex(column, flex-start, center, 1rem);
  &__options {
    width: 100%;
    @include mixins.customFlex(row, space-between, center);
  }
  &__title-section {
    @include mixins.customFlex(row, flex-start, center);
  }
  &__title {
    @include mixins.fontStyle(1.25rem, 700);
  }
  &__subtitle {
    color: var(--text-gray);

    @include mixins.fontStyle;
  }
  &__group-options {
    @include mixins.customFlex($alignItem: center, $gap: 0.75rem);
    color: var(--text-gray);
  }
  &__sort {
    @include mixins.customFlex(row, flex-start, center, 0.5rem);
  }
  &__label-sort {
    @include mixins.customFlex(row, flex-start, center);

    @include mixins.fontStyle(0.875rem);
  }
  &__select-sort {
    padding: 0.5rem;
    width: 11.4rem;
    height: 2.13rem;
    background-color: var(--white);
    color: var(--text-title);
    border-radius: 0.5rem;
    border: 1px solid var(--input-border-color);
    outline: none;
  }

  &__search {
    width: 16rem;
    height: 2.12rem;
    position: relative;
    @include mixins.customFlex(row, flex-start, center);
    overflow: hidden;
    ::placeholder {
      color: var(--text-gray);
    }
  }
  &__search-input {
    width: 100%;
    height: 100%;
    border: 1px solid var(--input-border-color);
    border-radius: 0.5rem;
    outline: none;
    padding: 0 0.5rem;
  }
  &__search-button {
    @include mixins.customFlex(column, center, center);
    width: 2rem;
    height: 100%;
    position: absolute;
    left: 0;
    background: var(--primary-50);
    border-radius: 0.5rem 0 0 0.5rem;
  }
  &__transaction-list {
    width: 100%;
  }
  &__pagination {
    width: 100%;
  }
}
.transaction-list {
  @include mixins.customFlex(column, flex-start, center);
  border: {
    spacing: 0;
    collapse: collapse;
  }
  &__head {
    width: 100%;
    @include mixins.customFlex(row);
  }
  &__head-row {
    width: 100%;
    @include mixins.customFlex(row, space-around, center);
    padding: 0.875rem;
    background-color: var(--primary-500);
    color: var(--black-50);

    @include mixins.fontStyle(1rem, 600);
    border-radius: 0.5rem;
    overflow: hidden;
  }
  &__body {
    width: 100%;
    @include mixins.customFlex(column);
    border-radius: 0.5rem;
  }
  &__transaction-information {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 0.5rem;
  }
  &__transaction-information-even:nth-child(even) {
    background: var(--background-input);
  }
  &__transaction-information-data {
    @include mixins.customFlex(row, center, center);
    padding: 0.5rem;
  }
}
.pagination {
  list-style: none;
  @include mixins.customFlex(row, center, center, 0.5rem);
  &__button {
    @include mixins.customFlex(row, center, center);
    width: 2rem;
    height: 2rem;
    color: var(--text-gray);
    background: var(--background-input);
    border-radius: 0.25rem;
    padding: 0.25rem;

    @include mixins.fontStyle(0.875rem, 600);
  }
  &__button--active {
    color: var(--white);
    background: var(--primary-500);
  }
}

.account-information-preview {
  @include mixins.customFlex($gap: 1rem);
}

.account-card {
  width: 40%;
  height: 100%;
  @include mixins.customFlex(column, space-between);
  background-image: url('../../../../public/assets/images/noise.svg'),
    url('../../../../public/assets/images/pattern.svg'),
    linear-gradient(
      112deg,
      var(--primary-500) 0%,
      $gradiant-second-color 100%,
      $gradiant-second-color 100%
    );
  padding: 1.5rem;
  border-radius: 0.75rem;
  direction: ltr;
  color: var(--white);

  &__card-content {
    @include mixins.customFlex($justifyContent: space-between);
    margin: 0.75rem 0 0 1rem;
  }

  &__card-quantity {
    @include mixins.customFlex(column);
    font-weight: 600;
  }
  &__card-quantity-title {
    @include mixins.fontStyle(1rem, 600);
  }
  &__card-balance {
    @include mixins.fontStyle(2.5rem, 600);
  }
  &__more {
    position: relative;
    &:hover .account-card-more-options {
      display: block;
      animation: wiggle 2s linear infinite;
    }
  }

  &__card-number {
    @include mixins.customFlex($justifyContent: center, $gap: 1rem);
    @include mixins.fontStyle(2.25rem);
    margin-bottom: 1rem;
  }
}

.account-card-more-options {
  width: 12rem;
  height: 5rem;
  background-color: var(--white);
  border-radius: 0.75rem;
  box-shadow: 0px 0px 4px 0px rgba(0, 67, 101, 0.05);
  padding: 0.75rem;
  display: none;
  position: absolute;
  right: 0.625rem;
  direction: rtl;

  &__items {
    @include mixins.customFlex($alignItem: center);
    direction: rtl;
    gap: 0.5rem;

    &--change {
      color: var(--black-100);
      margin-bottom: 0.75rem;
    }
    &--logout {
      color: var(--fail-500);
      margin-bottom: 0.75rem;
    }
  }
}

.account-information {
  width: 60%;
  display: flex;
  gap: 1rem;
  &__header {
    @include mixins.customFlex(row, space-between, center);
  }
  &__header-title {
    @include mixins.fontStyle(1.25rem, 700);
    color: var(--black-500);
  }
  &__header-icon {
    padding-bottom: 0.25rem;
  }

  &__card {
    background-color: var(--white);
    width: 50%;
    height: 100%;
    padding: 1.5rem;
    border-radius: 0.75rem;
    @include mixins.customFlex(column, space-between);
  }
}
.score-card {
  width: 50%;
  &__content {
    color: var(--primary-500);
    @include mixins.fontStyle($weight: 700);

    @include mixins.customFlex(column, $alignItem: center);
  }
  &__content-unit {
    @include mixins.fontStyle(0.875rem);
    color: var(--text-gray);
  }

  &__month {
    @include mixins.fontStyle(1.125rem);
    @include mixins.customFlex($alignItem: center, $gap: 0.25rem);
  }

  &__amount {
    @include mixins.fontStyle(2.5rem, 700);
    @include mixins.customFlex(row, $alignItem: center, $gap: 0.25rem);
  }
}

.installment-card {
  &__content {
    @include mixins.customFlex(column) {
      row-gap: 0.75rem;
    }
    padding-top: 2.5rem;
  }
  &__item {
    @include mixins.customFlex(row, space-between, center);
  }
  &__item-title {
    color: var(--text-gray);
    @include mixins.fontStyle(0.875rem);
  }
  &__item-value {
    color: var(--black-500);
    @include mixins.fontStyle(0.875rem, 600);
  }
  &__button {
    @include mixins.customFlex(row, center, center, 0.5rem);
  }
}

.card-action {
  @include mixins.customFlex($justifyContent: center);
  &__button {
    width: 100%;
    background-color: var(--primary-50);
    color: var(--black-500);
  }
}

.no-content {
  width: 100%;
  height: 100%;
  @include mixins.customFlex(column, center, center, 2rem);
  display: none; // hide no content
  position: absolute;
  // background: rgba(255, 255, 255, 0.9);
  background-image: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.95)
  );
  z-index: 10;
  border-radius: 0.7rem;
  &__description {
    color: var(--black-500);

    @include mixins.fontStyle(1rem, 600);
  }

  &__create-account-button {
    background-color: var(--primary-500);
    color: var(--white);
    width: 12.5rem;
    height: 3rem;
  }
}

.navbar {
  padding: 0 0.5rem;
  gap: 0.125rem;
  &__navbar-button {
    color: var(--text-gray);
    width: 100%;
    background-color: var(--white);
  }
}

.navbar-button {
  @include mixins.customFlex($alignItem: center, $gap: 0.5rem);

  padding: 0.5rem 1rem;
  border-radius: 0.375rem;
  &--exit {
    color: var(--fail-500);
    &:active {
      background-color: var(--fail-50);
    }
  }
  &--active:active {
    background-color: $active-button-color;
    color: var(--primary-500);
    font-weight: 700;
    .navbar-button__icon {
      background-color: var(--primary-500);
    }
  }
  &__icon {
    width: 1.2rem;
    height: 1.2rem;
    background-color: var(--text-gray);
  }
  &__icon--exit {
    background-color: var(--fail-500);
  }
}
